.header{
    display: flex;
    background-color: #343a40;
    font-family: 'Poppins', sans-serif!important;
}
.logo{
    padding: 10px;
    flex-grow: 0.3;
}
.nav_bar{
    padding: 20px 20px 20px 60px;
    flex-grow: 2;
}
.nav{
    display:flex;
}
.nav li {
    margin-right: 40px; 
    list-style: none;
    font-size: 22px;
    color:white;
}
.nav li:hover{
    color: #fd7e14;
}
.nav li a{
    text-decoration: none;
    color:white;
}
.nav li a:hover{
    color: #fd7e14;
}
.carousel{
    font-family: 'Poppins', sans-serif!important;
}
.reviews{
    position: relative;
    width:100%;
    height:250px;
    margin-top :-25px;
    background-image: url("/assets/girl_background.html.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.reviews h1{
    text-transform: uppercase;
    /* padding-top:120px; */
    position: relative;
    top: 80px;
    font-size: 38px;
}
.reviews h5{
    margin-top: 90px;
}
.reviews h1,h5{
    margin-left:120px;
    color:white;  
}
.carousel_content{
    height:1000px;
    margin-top:30px;
}
.review1,.review2,.review3,.review4{
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15) !important;
    font-family: 'Poppins', sans-serif!important;
    margin:10px 0px 0px 120px;
    width:65%;
}
.review1{
    height:230px;
}
.review2{
    height:270px;
    margin-top:30px;
}
.review3{
    height:170px;
    margin-top:30px;
}
.review4{
    height:200px;
    margin-top:30px;
}
.review_box1,.review_box2,.review_box3,.review_box4{
    display:flex;
    margin:0px 20px 20px 20px;
    position: relative;
    top:20px;
    /* padding-top:20px; */
}
.ajayreddy_image,.vanim_image,.vikramadhitya_image,.vikasdwivedi_image{
    flex:1;
}
.ajayreddy_image img,.vanim_image img,.vikramadhitya_image img,.vikasdwivedi_image img{
    width:90px;
    height:90px;
}
.ajayreddy_reviews,.vanim_reviews,.vikramadhitya_reviews,.vikasdwivedi_reviews{
    flex:5;
}
.review_image1,.review_image2,.review_image3,.review_image4{
    display:flex;
    height:30px;
    border-bottom: 1px solid grey;
}
.ajayreddy_reviews :first-child,.vanim_reviews :first-child,.vikramadhitya_reviews :first-child,.vikasdwivedi_reviews :first-child{
    font-size:20px;
}
.review_image1 :first-child,.review_image2 :first-child,.review_image3 :first-child,.review_image4 :first-child{
    background-image: url(/assets/rating.html.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:20px;
    width:120px;
    margin:0px 0px 0px -15px;
}
.review_image1 :nth-child(2),.review_image2 :nth-child(2),.review_image3 :nth-child(2),.review_image4 :nth-child(2){
    flex:2;
    margin-left:405px;
    color:red;
}
.review_image1 :nth-child(3),.review_image2 :nth-child(3),.review_image3 :nth-child(3),.review_image4 :nth-child(3){
    flex:2;
}
.ajayreddy_comments,.vanim_comments,.vikramadhitya_comments,.vikasdwivedi_comments{
    margin-top: 20px;
    text-align: justify;
}
.heading11{
    margin-top:30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins', sans-serif!important;
}
.locations{
    width:100%;
    margin-top:-30px;
    margin-left:100px;
    font-family: 'Poppins', sans-serif!important;
}
.r1,.r3{
    display:flex;
    height:300px;
}
.r2{
    display:flex;
    height:150px;
    text-align: center;
}
.r4{
    display:flex;
    height:170px;
    text-align: center;
}
.r11,.r31{
    width:550px; 
    border:0.3px solid rgb(219, 218, 218); 
}
.r12,.r32{
    width:550px;
    margin-left:30px;
    border:0.3px solid rgb(219, 218, 218); 
}
.r21,.r41{
    width:550px;
    padding-top:20px;
    border:0.3px solid rgb(219, 218, 218); 
}
.r21 div:last-child(),.r22 div:last-child(),.r41 div:last-child(){
    display:flex;
}
.r21 img,.r22 img,.r41 img{
    width:35px;
    height:30px;
}
.r21 div a{
    margin-top:-20px;
}
.r22,.r42{
    width:550px;
    padding-top:20px;
    margin-left:30px;
    border:0.3px solid rgb(219, 218, 218); 
}
.locations p{
    text-align: center;
}
.r21 div:first-child,.r22 div:first-child,.r41 div:first-child,.r42 div{
    font-weight: bold;
    font-size: large;
}
.locations a{
    color:rgb(88, 163, 212);
    text-decoration: none;
    position: relative;
    bottom: 10px;
}
.locations a:hover{
    color:blue;
}
.footer_para1,.footer_para2{
    font-size: 12px;
    text-align: justify;
    line-height: 2em;
    margin:30px 100px 0px 100px;
}
.footer_para2::first-letter {
    font-size:100%;
    text-transform: uppercase;
}
.footer_para1 a{
    text-decoration: none;
    color:rgb(68, 121, 236);
}
.footer_para1 a:hover{
    color:blue;
}
.footer{
    background-color: black;
    margin-top:30px;
    font-family: 'Poppins', sans-serif!important;
}
.footer1{
    display: flex;
    margin-left:30px;
    margin-right:30px;
    border-bottom: 1px solid white; 
    color:white;  
}
.img_content,.trending_courses,.contact_info{
    flex:1;
}
.content{
    flex:3;
    display:flex;
}
.company{
    flex:1;
    padding-left:70px;
}
.company li,.trending_courses li,.contact_info li{
    list-style: none;
    padding:5px;
}
.company li a,.trending_courses li a{
    text-decoration: none;
    color:white;  
    margin-left:-40px;
}
.company li a:hover,.trending_courses li a:hover{
    color:orangered;
}
.contact_info ul li{
    margin-left:-40px;
}
.li1{
    display:flex;
}
.li1 :nth-child(1){
    width:30px;
    height:30px;
    object-fit: cover;
    object-position: center;
}
.li1 :nth-child(2){
    margin-top:-5px;
    margin-left:10px;
}
.li2{
    display:flex;
    margin-top: -20px;
    margin-left: -20px;
}
.li2 :nth-child(1){
    width:50px;
    height:50px;
    margin-left:-15px;
    object-fit: cover;
    object-position: center;
}
.li3{
    display:flex;
    margin-top: -20px;
}
.li3 :nth-child(1){
    width:25px;
    height:25px;
    margin-top:10px;
    object-fit: cover;
    object-position: center;
}
.li3 :nth-child(2){
    margin-left:10px;
}
.footer2{
    display:flex;
    margin:20px 500px 0px 500px;
}
.facebook{
    width:40px;
    height:40px;
}
.instagram{
    width:50px;
    height:50px;
    margin-left:10px;
    margin-top:-5px;
}
.twitter,.linkdin,.pinterest,.youtube{
    width:40px;
    height:40px;
    margin-left:10px;
}
.facebook:hover{
    color:#007bff;
}
.instagram:hover{
    color:#e72dce;
}
.twitter:hover{
    color:#46b1db;
}
.linkdin:hover{
    color:#124275;
}
.pinterest:hover{
    color:#e64a23;
}
.youtube:hover{
    color:#f33232;
}
.footer3{
    display:flex;
    color:white;
}
.f3p1{
    margin-left:300px;
}
.f3p2{
    margin-left:60px;
}
.f3p3,.f3p4{
    margin-left:40px;
}
.f3p2:hover,.f3p3:hover,.f3p4:hover{
    color:orangered;
}
.footer4{
    display:flex;
    color:white;
    margin-top:20px;;
    font-size: 20px;
}
.call,.chat{
    flex:1;
    display:flex;
    margin-left:40px;
}
.request_callback{
    flex:1;
    display:flex;
    margin-left:200px;
}
.call img{
    width:40px;
    height:40px;
    margin-top:5px;
}
.request_callback img{
    width:50px;
    height:50px;
    margin-top:-5px;
}
.chat img{
    width:50px;
    height:80px;
    margin-top:-15px;
}
.call p{
    margin-left: 5px;;
}
.call p,.request_callback p,.chat p{
    margin-top:10px;
}
.call p:hover,.request_callback p:hover,.chat p:hover{
    color:orangered;
}

